{% extends 'base.html.twig' %}

{% block title %}DigtX - Invinit: User Details{% endblock %}

{% block content %}
    {% if is_granted('ROLE_ADMIN_LOGISTICS') %}
        {{ form_start(form) }}
        <div class="personel-info-form">
            <div class="bg-sec">
                <h1 class="s-title">Change User Details</h1>
                <hr class="s-hr mt-20 mb-20">

                <div class="form-field row">
                    <div class="col-md-4 col-sm-4 col-6">
                        {{ form_label(form.email) }}
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-8 col-6">
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                <div class="form-field row">
                    <div class="col-md-4 col-sm-4 col-6">
                        {{ form_label(form.password) }}
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-8 col-6">
                        {{ form_widget(form.password) }}
                    </div>
                </div>

                <div class="form-field row">
                    <div class="col-md-4 col-sm-4 col-6">
                        {{ form_label(form.digtUId) }}
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-8 col-6">
                        {{ form_widget(form.digtUId) }}
                    </div>
                </div>

                <div class="form-field row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <label>Add Company to User</label>
                    </div>
                    <div class="col-md-4 col-sm-6 col-sm-8 col-6">
                        {{ form_widget(form.company) }}
                    </div>
                </div>

                {% if not form.vars.valid  %}
                    <div class="error-row d-flex">
                        <div class="col-md-12 col-4">{{ form_errors(form) }}</div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="g-btn d-flex align-items-center justify-content-center" type="submit">
                Save
                <object class="ml-10" data="{{ asset('assets/images/icons/save-w.svg') }}" type="image/svg+xml">your broswser does not support svg</object></button>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}