{% extends 'base.html.twig' %}

{% block title %}digtX - Knowledge{% endblock %}

{% block content %}
<body data-turbo="false">
    <div class="horizontal-nav bread-crumbs mb-20">
        <div class="scroll-item">
            {# breadcrumb items here #}
            <a>Knowledge Database</a>
            <a class=" active">Current</a>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <a class="add" href="{{path('add_knowledge')}}">
            Add 
                 <object class="add-icon" data="{{ asset('assets/images/icons/add.svg') }}" type="image/svg+xml">
                    your broswser does not support svg
                </object>
            </a>
        </div>
    </div>
    <section>
        {{ form_widget(knowlegde_list) }}
    </section>
</body>
<style>
    .add-icon
    {
        height:20px;
        width:20px;
        margin-left:5px;
    }
    .flex
    {
        display:flex;
        justify-content:center;
    }
</style>

{% endblock %}


