{# templates/product/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}DigtX - Invinit: Knowledge Add{% endblock %}

{% form_theme form with [
    '/Work/D01_Digt_AG/form/field/product_price_table.prototype.twig',
] %}

{% block content %}
    <div class="horizontal-nav bread-crumbs mb-20">
        <div class="scroll-item">
            {# breadcrumb items here #}
            <a href="{{ path('app_knowledge') }}">Knowledge Database</a>

            <a class="active">Add Knowledge</a>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <a class="back" href="{{ path('app_knowledge') }}">
                <object data="{{ asset('assets/images/icons/arrow-left-long.svg') }}" type="image/svg+xml">
                    your broswser does not support svg
                </object>
                Back
            </a>
        </div>
    </div>

    {{ form_start(form, {'method' : 'post', 'action': path('add_knowledge'), 'attr' : { 'enctype' : 'multipart/form-data'}} ) }}
    
    <section class="mt-20">
        <div class="bg-sec">
            <h1 class="s-subtitle ">Add Knowledge details</h1>
            <hr class="s-hr mt-30 mb-30">
            {% if form.vars.errors|length %}
              <div style="display: block;color:red;">{{ form_errors(form) }}</div>
            {% endif %}
            
            <div class="personel-info-form">
                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.entityTitle, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.entityTitle) }}
                            <div style="color:red;">{{ form_errors(form.entityTitle) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.entryTags, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.entryTags) }}
                            <div style="color:red;">{{ form_errors(form.entryTags) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.entryStatus, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.entryStatus) }}
                            <div style="color:red;">{{ form_errors(form.entryStatus) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.writer, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.writer) }}
                            <div style="color:red;">{{ form_errors(form.writer) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.fkCompany, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.fkCompany) }}
                            <div style="color:red;">{{ form_errors(form.fkCompany) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.fkDepartment, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.fkDepartment) }}
                            <div style="color:red;">{{ form_errors(form.fkDepartment) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.fkCategory, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.fkCategory) }}
                            <div style="color:red;">{{ form_errors(form.fkCategory) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.document, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-2 col-2">
                            {{ form_widget(form.document, {'attr': {'class': 'upload-btn'}}) }}
                            <div class="info-icon-container">
                                <span class="info-icon">
                                    <small class="info-icon-text">
                                            1. Max. File size 40 MB / File
                                        <br><br>
                                        2. The following file formats are allowed: xls, xlsx, csv, zip, jpg, jpeg, png, pdf, doc, docx, tiff, tif, mp3, mp4, mpeg, mov, html, css, psd, psp, ppt, pptx, tar, txt, wav, heic etc..
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-4">
                            <div style="color:red;">{{ form_errors(form.document) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.entryAbstract, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.entryAbstract) }}
                            <div style="color:red;">{{ form_errors(form.entryAbstract) }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.entryDetails, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.entryDetails) }}
                            <div style="color:red;">{{ form_errors(form.entryDetails) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-end">
        <button class="g-btn" type="submit">
            <span class="w-auto">Save</span>
            <object class="ml-10" data="{{ asset('assets/images/icons/save-w.svg') }}" type="image/svg+xml">your broswser does not support svg</object>
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
