{# templates/product/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}DigtX - Invinit: Knowledge Details{% endblock %}

{% block content %}

    <section class="dashboard-section">
        <div class="dashboard-head-title justify-content-between align-items-center d-flex flex-wrap">
            <h1>Knowledge Database</h1>
            <a href="/knowledge/edit/{{ knowledge_details.id }}" class="edit-button">
                Edit
                <img src="{{asset('assets/images/img/edit.png')}}">
            </a>
        </div>
        <div class="dashboard-wrap">
            <div class="breadcrumbs-header">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="justify-content-between align-items-center d-flex flex-wrap">
                            <div class="breadcrumbs-box">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{{ path('app_knowledge') }}">Knowledgedatabase</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">View # {{knowledge_details.entityTitle}}</li>
                                    </ol>
                                </nav>
                            </div>
                            <a href="{{ path('app_knowledge') }}"  class="back-button">
                                <img src="{{asset('assets/images/img/back-icon.png')}}">
                                Back
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="justify-content-end align-items-center d-flex">
                            <a href="/knowledge/edit/{{ knowledge_details.id }}" class="edit-button">
                                Edit
                                <img src="{{asset('assets/images/img/edit.png')}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-wrap-content">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="card-box">
                            <div class="card-box-title">
                                <h4>Abstract</h4>
                            </div>
                            <div class="card-box-details">
                                <p>{{knowledge_details.entryAbstract}}</p>
                            </div>
                        </div>
                        <div class="card-box">
                            <div class="card-box-title">
                                <h4>Details</h4>
                            </div>
                            <div class="card-box-details">
                                <p>{{knowledge_details.entryDetails}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="card-box">
                            <div class="card-box-title">
                                <h4>General Information</h4>
                            </div>
                            <div class="card-box-details">
                                <table class="table table-striped table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <td>{{knowledge_details.entityTitle}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Company</th>
                                            <td>{{knowledge_details.fkCompany.UserCompanyName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Department</th>
                                            <td>{{knowledge_details.fkDepartment.UserDepartmentName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Category</th>
                                            <td>{{knowledge_details.fkCategory.KnowledgeCategoryName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Writer</th>
                                            <td>{{knowledge_details.writer}}</td>
                                        </tr>
                                        <tr>
                                            <th>Tag’s</th>
                                            <td>{{knowledge_details.entryTags}}</td>
                                        </tr>
                                        <tr>
                                            <th>Created at</th>
                                            <td>{{knowledge_details.entityCreated.format('d.m.Y')}}</td>
                                        </tr>
                                        <tr>
                                            <th>Last edited</th>
                                            <td>{{knowledge_details.entityUpdated.format('d.m.Y')}}</td>
                                        </tr>
                                        <tr>
                                            <th>edited by</th>
                                            <td> {{ app.user.systemUser.name }} {{ app.user.systemUser.lastName}}({{ app.user.systemUser.email }})</td>
                                        </tr>
                                        <tr>
                                            <th>Linked files</th>
                                            <td>
                                                <ul class="file-download-option">
                                                {% for document in knowledge_details.documents %}
                                                    <li>
                                                        <a href="{{asset(document.Path)}}" target="_blank">{{document.OriginalName}}</a>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-box-footer">
                                <button>Download as PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
