{# templates/form/field/dropdown_search_widget.html.twig #}
{% extends 'base.html.twig' %}

{% block autocomplete_dropdown_widget %}
    <div class="dropdown-search-form-field"
         {{ stimulus_controller({
             'autocomplete': {
                url: form.vars.action
            },
             'autocomplete-dropdown': {
                 'autocomplete-dropdown-hidden-value': 'search'
             }
         }) }}>
         {{ form_widget(form.autocompleteDropdown, {
            'type': 'hidden',
            'attr': {
                 'data-autocomplete-target': 'hidden',
                 'data-turbo': 'true',
                 'data-turbo-permanent': '',
                 'data-action': 'autocomplete-dropdown#onSearchChanged',
            }
        }) }}
        <input  type="search"
                name="{{ search_label }}"
                class="w-100 search {% if not form.vars.valid %} is-invalid {% endif %}"
                placeholder="Search..."
                id="{{ form.vars.unique_block_prefix }}_search"
                data-turbo="true"
                data-turbo-permanent
                data-action="search->autocomplete-dropdown#submitOnRemove"
                data-autocomplete-target="input">
        <ul class="list-group dropdown-search-data-list" data-autocomplete-target="results"></ul>
        {{ form_errors(form.autocompleteDropdown) }}
    </div>
{% endblock %}