{% extends 'base.html.twig' %}

{% block date_picker_widget %}
    <div data-controller="datepicker">
        {{ form_widget(form.date, {
            'attr': {
                'data-turbo': 'true',
                'data-turbo-permanent': '',
                'data-action': 'datepicker#input',
            }
        }) }}
    </div>
{% endblock %}