{% block list_view_widget %}
    <turbo-frame id="{{ form.vars.unique_block_prefix }}"
                 data-list-view-target="turboFrame"
                 data-turbo="true"
                 data-controller="list-view">
        {{ form_start(form) }}
            <div class="gw-table bg-sec mt-10">
                <div class="frame-loading-hide">
                    {% if title %}
                        <div class="d-flex align-items-start justify-content-between">
                            <h1 class="s-title">{{ title }}</h1>

                            {% if allow_add %}
                                {% set properties = [] %}
                                {% if add_btn_path.properties is defined %}
                                    {% for property, key in edit_btn_path.properties %}
                                        {% set properties = properties | merge({ (property) : entry[key]}) %}
                                    {% endfor %}
                                {% endif %}
                                <a class="o-btn w-auto list-view-add-btn text-nowrap"
                                   href="{{ path(add_btn_path.name, properties) }}"
                                   data-turbo="false">
                                    {{ add_btn_label }}
                                </a>
                            {% endif %}
                        </div>

                        <hr class="s-hr mb-15">
                    {% endif %}

                    {% if not title and allow_add %}
                        <div class="d-flex align-items-start justify-content-end mb-30">
                            {% set properties = [] %}
                            {% if add_btn_path.properties is defined %}
                                {% for property, key in edit_btn_path.properties %}
                                    {% set properties = properties | merge({ (property) : entry[key]}) %}
                                {% endfor %}
                            {% endif %}
                            <a class="o-btn w-auto list-view-add-btn text-nowrap"
                               href="{{ path(add_btn_path.name, properties) }}"
                               data-turbo="false">
                                {{ add_btn_label }}
                            </a>
                        </div>
                    {% endif %}

                    {% if form.children | length > 0 %}
                        <div class="list-view-filter-container">
                            {% for filter in form.children %}
                                <div class="list-view-filter-box"
                                     data-action="
                                        autocomplete-dropdown:async:submitted->list-view#autoSubmit
                                        datepicker:change->list-view#autoSubmit"
                                     style="flex-basis: {{ filter.vars.width }}">
                                    {{ form_widget(filter) }}
                                </div>
                            {% endfor %}
                        </div>

                        <hr class="s-hr mb-30">
                    {% endif %}

                    {% if allow_limit or allow_search %}
                        <div class="list-view-table-bar">
                            {% if allow_limit %}
                                <div class="page-limiter">
                                    <span>Show</span>
                                    <select class="select"
                                            name="list_view_page_limiter"
                                            id="list_view_page_limiter"
                                            data-action="list-view#submit">
                                        {% for pageLimit in pagination.limits.list %}
                                            <option value="{{ pageLimit }}"
                                                    {% if pageLimit == list_view_page_limiter %} selected {% endif %}>
                                                {{ pageLimit }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span>entries</span>
                                </div>
                            {% endif %}
                            {% if allow_search %}
                                <div class="search-bar">
                                    <input type="search"
                                           class="search"
                                           placeholder="Search"
                                           name="list_view_search"
                                           id="{{ form.vars.unique_block_prefix }}_list_view_search"
                                           data-turbo-permanent
                                           autofocus
                                           data-action="list-view#searchTrigger"
                                           value="{{ list_view_search }}">
                                    <button type="submit" class="g-btn search-btn">Search</button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    <table class="norm-rows thead-text-wrap">
                        <thead>
                        <tr>
                            {% set col = (12 / (columns | length)) | round %}
                            {% for column in columns %}
                                <th>{{ column }}</th>
                            {% endfor %}
                            {% if allow_edit or allow_remove or allow_open %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in form.vars.value %}
                            <tr>
                                {% for key, column in columns %}
                                    <td>{{ entry[key] }}</td>
                                {% endfor %}
                                {% if allow_edit or allow_remove or allow_open %}
                                    <td>
                                        <div class="actions" data-turbo="false">
                                            {% if allow_edit %}
                                                {% set properties = [] %}
                                                {% if edit_btn_path.properties is defined %}
                                                    {% for property, key in edit_btn_path.properties %}
                                                        {% set properties = properties | merge({ (property) : entry[key]}) %}
                                                    {% endfor %}
                                                {% endif %}
                                                <a class="p-btn" href="{{ path(edit_btn_path.name, properties) }}">Edit</a>
                                            {% endif %}
                                            {% if allow_remove %}
                                                {% set properties = [] %}
                                                {% if edit_btn_path.properties is defined %}
                                                    {% for property, key in remove_btn_path.properties %}
                                                        {% set properties = properties | merge({ (property) : entry[key]}) %}
                                                    {% endfor %}
                                                {% endif %}
                                                <a class="r-btn" href="{{ path(remove_btn_path.name, properties) }}">Remove</a>
                                            {% endif %}
                                            {% if allow_open %}
                                                {% set properties = [] %}
                                                {% if open_btn_path.properties is defined %}
                                                    {% for property, key in open_btn_path.properties %}
                                                        {% set properties = properties | merge({ (property) : entry[key]}) %}
                                                    {% endfor %}
                                                {% endif %}
                                                <a class="r-btn" href="{{ path(open_btn_path.name, properties) }}">Open</a>
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% if (form.vars.value | length) == 0 %}
                            <tr>
                                <td colspan="{% if allow_edit or allow_remove or allow_open %}
                                             {{ (columns | length) + 1 }}
                                             {% else %}
                                             {{ columns | length }}
                                             {% endif %}" class="no-data">
                                    <span>No data to show</span>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="pagination" data-turbo="true">
                        <div class="prev">
                            {% if list_view_current_page > 1 %}
                                <button type="submit" data-action="list-view#prev">
                                    <
                                </button>
                            {% endif %}
                        </div>
                        <div class="pages">
                            <input name="list_view_current_page"
                                   id="list_view_current_page"
                                   data-action="list-view#searchTrigger"
                                   value="{{ list_view_current_page }}">
                            <span>/</span>
                            <span class="page-max">
                            {{ list_view_page_count }}
                        </span>
                        </div>
                        <div class="next">
                            {% if list_view_current_page <= list_view_page_count - 1 %}
                                <button type="submit"
                                        data-action="list-view#next">
                                    >
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="frame-loading-show">
                    <div class="turbo-loader">
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </turbo-frame>
{% endblock %}