body {
    font-family: 'Roboto', sans-serif;
}
.dashboard-section {
    min-height: 100vh;
    background: #EFEFEF;
}
.dashboard-head-title h1 {
    color: #565656;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    width: auto;
    margin: 0;
}
.edit-button {
    background: #FFC468;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #fff !important;
    /* padding: 7px 17px; */
    padding: 10px 15px;
    width: auto;
}
.breadcrumbs-box nav {background: transparent;height: auto;padding: 0;}
.edit-button img {
    margin-left: 14px;
}
.dashboard-head-title {
    padding-bottom: 30px;
    border-bottom: 1px solid #D9D8D8;
    margin-bottom: 30px;
}
.breadcrumbs-box .breadcrumb-item.active {
    color: #D9D8D8;
}
.breadcrumbs-box .breadcrumb-item,
.breadcrumbs-box .breadcrumb-item a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.breadcrumbs-box .breadcrumb-item a {
    color: #565656;
    text-decoration: none;
}
.breadcrumbs-box .breadcrumb-item+.breadcrumb-item::before {
    content: "" !important;
    width: 8px;
    height: 12px;
    /* background-image: url(img/right-icon.png); */
    background-image: url('/public/assets/images/img/right-icon.png');
    margin-right: 18px;
}
.breadcrumbs-box .breadcrumb-item {
    display: flex;
    width: auto;
    align-items: center;
}
.breadcrumbs-box .breadcrumb-item+.breadcrumb-item {
    padding-left: 18px;
}
.breadcrumbs-box .breadcrumb {
    margin: 0;
    display: flex;
}
.breadcrumbs-box {width: auto;}
.back-button {
    background: #D9D8D8;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    /* padding: 7px 17px; */
    width: auto;
    color: #565656;
    padding: 10px 15px;
}
.back-button img {
    margin-right: 12px;
}
.breadcrumbs-header {
    margin-bottom: 20px;
}
.card-box {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: #FFFFFF;
    padding: 28px;
}
.card-box-title h4 {
    color: #565656;
    margin: 0 0 27px 0;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    border-bottom: 1px solid #D9D8D8;
    padding-bottom: 27px;
}
.card-box-details p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #565656;
}
.card-box-details p+p {
    margin-top: 15px;
}
.card-box+.card-box {
    margin-top: 20px;
}
.card-box-details .table-striped>tbody>tr:nth-of-type(odd) {
    background: #EFEFEF;
}
.card-box-details table td,
.card-box-details table th {
    color: #565656;
    font-size: 13px;
    text-align: left;
    padding: 10px;
    vertical-align: middle;
    width: 50%;
}
.card-box-details table {
    margin: 0;
}
.card-box-footer {
    margin-top: 30px;
}
.card-box-footer button {
    background: #D9D8D8;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: #565656;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 0;
}
.file-download-option {
    margin: 0;
    padding: 0;
    list-style: none;
}
.file-download-option a {
    color: #7A8CF0;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
}


@media only screen and (max-width: 991px) {
    .breadcrumbs-header > div > div + div {margin-top: 15px;}
    .card-box {margin-top: 20px;}
    .breadcrumbs-box {margin: 10px 0;}
    .dashboard-head-title h1 {
        margin: 10px 0;
    }
}

