{# templates/product/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}DigtX - Invinit: Product Edit{% endblock %}

{% form_theme form with [
    '/Work/D01_Digt_AG/form/field/product_price_table.prototype.twig',
] %}

{% block content %}
    <div class="horizontal-nav bread-crumbs mb-20">
        <div class="scroll-item">
            {# breadcrumb items here #}
            <a href="{{ path('home') }}">Home</a>

            <a class="active">Current</a>
        </div>

        <div class="d-flex align-items-center justify-content-end">
            <a class="back" href="{{ path('home') }}">
                <object data="{{ asset('assets/images/icons/arrow-left-long.svg') }}" type="image/svg+xml">
                    your broswser does not support svg
                </object>
                Back
            </a>
        </div>
    </div>

    {{ form_start(form) }}
    <section class="mt-20">
        <div class="bg-sec">
            <h1 class="s-subtitle ">Product details</h1>
            <hr class="s-hr mt-30 mb-30">

            <div class="personel-info-form">

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.ProductTitle, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.ProductTitle) }}
                            {{ form_errors(form.ProductTitle) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            (in german)
                        </div>
                    </div>
                </div>

                <div class="form-field ">
                    <div class="mb-3 row">
                        {{ form_label(form.status, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.status) }}
                            {{ form_errors(form.status) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.company, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.company) }}
                            {{ form_errors(form.company) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.brand, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.brand) }}
                            {{ form_errors(form.brand) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        <label class="col-md-4 col-4 col-form-label col-sm-2 required">Owner</label>
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.owner) }}
                            <div class="mt-10">
                                {{ form.vars.value.owner.username ?? '' }}
                            </div>
                            {{ form_errors(form.owner) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                        <span class="info-icon">
                                            <small class="info-icon-text">
                                                The product owner is the responsible person
                                                as well as the contact person for a product.
                                                He is notified in the event of a low stock level.
                                            </small>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.stockAlarmLevel, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.stockAlarmLevel) }}
                            {{ form_errors(form.stockAlarmLevel) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-2">
                            <div class="info-icon-container">
                                        <span class="info-icon">
                                            <small class="info-icon-text">
                                                If the total stock (at Digt AG)
                                                falls below the quantity specified here,
                                                the product owner will be notified.
                                            </small>
                                        </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            (in pcs)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.category, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.category) }}
                            {{ form_errors(form.category) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.subCategory, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.subCategory) }}
                            {{ form_errors(form.subCategory) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.ean, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.ean) }}
                            {{ form_errors(form.ean) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.ean2, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.ean2) }}
                            {{ form_errors(form.ean2) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.articleNr, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_widget(form.articleNr) }}
                            {{ form_errors(form.articleNr) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.supplierId, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-2 col-sm-6 col-2">
                            {{ form_widget(form.supplierId) }}
                            {{ form_errors(form.supplierId) }}
                        </div>
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.supplierName) }}
                            {{ form_errors(form.supplierName) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.length, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-2 col-sm-2 col-2">
                            {{ form_widget(form.length) }}
                        </div>
                        <div class="col-md-2 col-2">
                            {{ form_widget(form.width) }}
                        </div>
                        <div class="col-md-2 col-2">
                            {{ form_widget(form.height) }}
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            (in cm)
                        </div>
                    </div>
                    {% if form.length.vars.errors | length
                        or form.height.vars.errors | length
                        or form.width.vars.errors | length %}
                        <div class="mb-3 row">
                            <div class="col-md-4 col-4"></div>
                            <div class="col-md-2 col-2">
                                {{ form_errors(form.length) }}
                            </div>
                            <div class="col-md-2 col-2">
                                {{ form_errors(form.width) }}
                            </div>
                            <div class="col-md-2 col-2">
                                {{ form_errors(form.height) }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.weight, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.weight) }}
                            {{ form_errors(form.weight) }}
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            (in gram)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.variants, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.variants) }}
                            {{ form_errors(form.variants) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            (Primary EAN’s seperated by comma)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.accessories, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.accessories) }}
                            {{ form_errors(form.accessories) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            (Primary EAN’s seperated by comma)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.warranty, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.warranty) }}
                            {{ form_errors(form.warranty) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            (in months)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.deadOnArrivalPeriod, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.deadOnArrivalPeriod) }}
                            {{ form_errors(form.deadOnArrivalPeriod) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-1">
                            <div class="info-icon-container">
                                        <span class="info-icon">
                                            <small class="info-icon-text">
                                                If a product has a defect from the beginning,
                                                many devices are covered by a so-called DOA warranty.
                                                This means that they are entitled to replacement
                                                with a new device immediately after purchase.
                                                This info will be used by some market-place provider.
                                            </small>
                                        </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-1">
                            (in months)
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="bg-sec gw-table">
            <h1 class="s-subtitle">Default pricing</h1>
            <hr class="s-hr mt-30 mb-30">

            <div class="personel-info-form" {{ stimulus_controller('Work--D01-Digt-AG--invinit--product--price-table') }}>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.vatRate, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-6 col-sm-6 col-8">
                            {{ form_widget(form.vatRate, {
                                'attr': {
                                    'data-action': 'Work--D01-Digt-AG--invinit--product--price-table#calcInclVat'
                                }
                            }) }}
                            {{ form_errors(form.vatRate) }}
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="o-btn"
                            id="add-price-table-btn"
                            type="button"
                            data-list-selector="#price-table-fields-list">
                        Add +
                    </button>
                </div>

                <table id="price-table-fields-list"
                       class="table alt-rows"
                       data-prototype="{{ form_widget(form.productPriceTables.vars.prototype) | e }}"
                       data-widget-tags="{{ '<div class="form-field"></div>' | e }}"
                       data-widget-counter="{{ form.productPriceTables | length }}">
                    <thead>
                    <tr class="d-flex">
                        <th class="col-md-4 col-4"><span>Price Key</span></th>
                        <th class="col-md-2 col-4"><span>Excl. Vat</span></th>
                        <th class="col-md-2 col-4"><span>Incl. Vat</span></th>
                        <th class="col-md-2 col-4"><span>Currency</span></th>
                        <th class="col-md-2 col-4"><span>Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for priceTable in form.productPriceTables %}
                        <tr class="collection-row price-table-list-item d-flex">
                            <td class="col-md-4 col-4">
                                {{ form_widget(priceTable.priceKey, {'attr': {'class': 'disabled'}}) }}
                            </td>
                            <td class="col-md-2 col-4">
                                {{ form_widget(priceTable.valueExclVat, {
                                    'attr': {
                                        'data-action': 'Work--D01-Digt-AG--invinit--product--price-table#calcInclVat',
                                        'class': 'price-excl-vat'
                                    }
                                }) }}
                            </td>
                            <td class="col-md-2 col-4">
                                {{ form_widget(priceTable.valueInclVat, {
                                    'attr': {
                                        'class': 'price-incl-vat disabled'
                                    }
                                }) }}
                            </td>
                            <td class="col-md-2 col-4">
                                {{ form_widget(priceTable.currency, {
                                    'attr': {
                                        'class': 'disabled'
                                    }
                                }) }}
                            </td>
                        </tr>
                        {% if not priceTable.vars.valid %}
                            <tr class="error-row d-flex">
                                <td class="col-md-4 col-4">{{ form_errors(priceTable.priceKey) }}</td>
                                <td class="col-md-2 col-4">{{ form_errors(priceTable.valueExclVat) }}</td>
                                <td class="col-md-2 col-4">{{ form_errors(priceTable.valueInclVat) }}</td>
                                <td class="col-md-2 col-4">{{ form_errors(priceTable.currency) }}</td>
                                <td class="col-md-2 col-4"></td>
                            </tr>
                            {# add another <tr> to keep alt-row style #}
                            <tr></tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="mt-20">
        <div class="bg-sec">
            <h1 class="s-subtitle">Shipping Information</h1>
            <hr class="s-hr mt-30 mb-30">

            <div class="personel-info-form">

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.packingLength, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-2 col-sm-2 col-2">
                            {{ form_widget(form.packingLength) }}
                        </div>
                        <div class="col-md-2 col-2">
                            {{ form_widget(form.packingWidth) }}
                        </div>
                        <div class="col-md-2 col-2">
                            {{ form_widget(form.packingHeight) }}
                        </div>
                        <div class="col-md-2 col-sm-2 col-2">
                            (in cm)
                        </div>
                    </div>
                    {% if form.packingLength.vars.errors | length
                        or form.packingWidth.vars.errors | length
                        or form.packingHeight.vars.errors | length %}
                        <div class="mb-3 row">
                            <div class="col-md-4 col-4"></div>
                            <div class="col-md-2 col-2">
                                {{ form_errors(form.packingLength) }}
                            </div>
                            <div class="col-md-2 col-2">
                                {{ form_errors(form.packingWidth) }}
                            </div>
                            <div class="col-md-2 col-2">
                                {{ form_errors(form.packingHeight) }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.packingWeight, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.packingWeight) }}
                            {{ form_errors(form.packingWeight) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            (in grams)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.incomingShippingDuration, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-2 col-sm-6 col-6">
                            {{ form_widget(form.incomingShippingDuration) }}
                            {{ form_errors(form.incomingShippingDuration) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-1">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            Here the delivery time is indicated,
                                            how long it will take for the delivery
                                            to Digt AG, if the warehouse has to be restocked.
                                        </small>
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-1">
                            (in days)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.outgoingShippingDuration, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-2 col-sm-6 col-6">
                            {{ form_widget(form.outgoingShippingDuration) }}
                            {{ form_errors(form.outgoingShippingDuration) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-1">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            Here the delivery time is indicated,
                                            how long the delivery takes for the
                                            delivery from Digt AG to the
                                            marketplace operator/customer.
                                        </small>
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-1">
                            (in days)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.outgoingShippingCategory, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.outgoingShippingCategory) }}
                            {{ form_errors(form.outgoingShippingCategory) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            Shipping category with which the products should normally be shipped.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.warehouseCountry, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.warehouseCountry) }}
                            {{ form_errors(form.warehouseCountry) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            Country of the warehouse from which the products are delivered to Digt AG.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="mt-20">
        <div class="bg-sec">
            <h1 class="s-subtitle">Media</h1>
            <hr class="s-hr mt-30 mb-30">

            <div class="personel-info-form">

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.mainImage, null, {'label_attr': {'class': 'col-md-4 col-4 required'}}) }}
                        {{ form_widget(form.mainImage, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.mainImage) }}
                        </div>

                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.image2, null, {'label_attr': {'class': 'col-md-4 col-4 required'}}) }}
                        {{ form_widget(form.image2, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.image2) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.image3, null, {'label_attr': {'class': 'col-md-4 col-4 required'}}) }}
                        {{ form_widget(form.image3, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.image3) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.image4, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.image4, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.image4) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.image5, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.image5, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.image5) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.image6, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.image6, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.image6) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.image7, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.image7, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.image7) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.image8, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.image8, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.image8) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.mainDataSheet, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.mainDataSheet, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.mainDataSheet) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.dataSheet2, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.dataSheet2, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.dataSheet2) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.safetyDataSheet, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.safetyDataSheet, {'attr': {'class': 'upload-btn'}}) }}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-8">
                            {{ form_errors(form.safetyDataSheet) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.mainVideo, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.mainVideo, {'attr': {'class': 'upload-btn'}}) }}
                        <div class="col-md-2 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            This Video will be provided to
                                            Marketplace providers that can
                                            implement one video.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-4">
                            {{ form_errors(form.mainVideo) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.video2, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        {{ form_widget(form.video2, {'attr': {'class': 'upload-btn'}}) }}
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            This Video will be provided
                                            to Marketplace providers
                                            that can implement two videos.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-4 col-4"></div>
                        <div class="col-md-4 col-sm-6 col-4">
                            {{ form_errors(form.video2) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="mt-20">
        <div class="bg-sec">
            <h1 class="s-subtitle">Additional Information</h1>
            <hr class="s-hr mt-30 mb-30">

            <div class="personel-info-form">

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.releaseDate, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.releaseDate) }}
                            {{ form_errors(form.releaseDate) }}
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.minimumAge, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-2 col-sm-6 col-6">
                            {{ form_widget(form.minimumAge) }}
                            {{ form_errors(form.minimumAge) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-1">
                            <div class="info-icon-container">
                                <span class="info-icon">
                                    <small class="info-icon-text">
                                        The minimum age for the
                                        use/purchase of the product should
                                        be indicated here. e.g. for alcohol or toys.
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-1">
                            (in years)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.maxQuantityPerUser, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-2 col-sm-6 col-6">
                            {{ form_widget(form.maxQuantityPerUser) }}
                            {{ form_errors(form.maxQuantityPerUser) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-1">
                            <div class="info-icon-container">
                                <span class="info-icon">
                                    <small class="info-icon-text">
                                        Purchase limits per end
                                        customer can be specified here,
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-1">
                            (in pcs)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.webshopUrl, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.webshopUrl) }}
                            {{ form_errors(form.webshopUrl) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-1">
                            <div class="info-icon-container">
                                <span class="info-icon">
                                    <small class="info-icon-text">
                                        This URL Points to the Supplier/Brand.
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-1">
                            (URL to supplier)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.originWebshopUrl, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.originWebshopUrl) }}
                            {{ form_errors(form.originWebshopUrl) }}
                        </div>
                        <div class="col-md-1 col-sm-2 col-1">
                            <div class="info-icon-container">
                                <span class="info-icon">
                                    <small class="info-icon-text">
                                        This URL points directly to the end product.
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-1">
                            (URL to product)
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.taresCode, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.taresCode) }}
                            {{ form_errors(form.taresCode) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-1">
                            <div class="info-icon-container">
                                <span class="info-icon">
                                    <small class="info-icon-text">
                                        TARES is an abbreviation and stands
                                        for the Swiss utility tariff, with
                                        which many customs operators as well
                                        as the Federal Office for Customs and
                                        Border Security (BAZG) work themselves
                                        on a daily basis.
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.tariCode, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.tariCode) }}
                            {{ form_errors(form.tariCode) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-1">
                            <div class="info-icon-container">
                                <span class="info-icon">
                                    <small class="info-icon-text">
                                        TARES is an abbreviation and
                                        stands for the european utility tariff,
                                        with which many customs operators with.
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.energyClass, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.energyClass) }}
                            {{ form_errors(form.energyClass) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            Energy class is a label for
                                            electrical appliances that
                                            are standardized throughout
                                            Europe and the world.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.energyLabelUrl, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.energyLabelUrl) }}
                            {{ form_errors(form.energyLabelUrl) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            Here the label of the
                                            corresponding energy
                                            class should be indicated
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.hazardStatements, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.hazardStatements) }}
                            {{ form_errors(form.hazardStatements) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            A hazard statement is a phrase
                                            that describes the nature of
                                            the hazard in the substance or mixture.
                                            A hazard statement will be determined
                                            by the application of the
                                            classification criteria.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.precautionaryStatements, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.precautionaryStatements) }}
                            {{ form_errors(form.precautionaryStatements) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            A precautionary statement is a phrase that
                                            describes the recommended measure(s)
                                            to minimise or prevent adverse effects
                                            resulting from exposure to a hazardous
                                            substance or mixture due to its
                                            use or disposal.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <div class="mb-3 row">
                        {{ form_label(form.productOrigin, null, {'label_attr': {'class': 'col-md-4 col-4'}}) }}
                        <div class="col-md-4 col-sm-6 col-6">
                            {{ form_widget(form.productOrigin) }}
                            {{ form_errors(form.productOrigin) }}
                        </div>
                        <div class="col-md-4 col-sm-2 col-2">
                            <div class="info-icon-container">
                                    <span class="info-icon">
                                        <small class="info-icon-text">
                                            Generally speaking, the country
                                            of origin is the country of
                                            manufacture, production, or
                                            growth where an article or
                                            product comes from.
                                        </small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="d-flex justify-content-end">
        <button class="g-btn" type="submit">
            <span class="w-auto">Save</span>
            <object class="ml-10" data="{{ asset('assets/images/icons/save-w.svg') }}" type="image/svg+xml">your broswser does not support svg</object>
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
