<div class="horizontal-nav bread-crumbs mb-20">
    <div class="scroll-item">
        {# breadcrumb items here #}
        <a>Parent 3</a>

        <a>Parent 2</a>

        <a>Parent 1</a>

        <a class=" active">Current</a>
    </div>

    <div class="d-flex align-items-center justify-content-end">
        <a class="back">
            <object data="{{ asset('assets/images/icons/arrow-left-long.svg') }}" type="image/svg+xml">
                your broswser does not support svg
            </object>
            Back
        </a>
    </div>
</div>

<section>
    <div class="bg-sec">
        <h1 class="s-subtitle mb-20">Card</h1>

        <hr class="s-hr mt-30 mb-30">

        {# content here #}
        {% include 'layout/_accordeon.html.twig' %}

    </div>
</section>

<section>
    <div class="bg-sec">
        <h1 class="s-subtitle mb-20">Table</h1>

        <hr class="s-hr mt-30 mb-30">

        <div class="gw-table">
            <table class="table alt-rows">
                <thead>
                <tr>
                    <th><span>Time</span></th>
                    <th><span>Title</span></th>
                    <th><span>Title</span></th>
                    <th><span>Tags</span></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>01.01.2022 10:02</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>
                        <span class="tag b4e">b4e</span>
                        <span class="tag b4s">b4s</span>
                        <span class="tag wd">wd</span>
                        <span class="tag m20">20m</span>
                        <span class="tag mb">mb</span>
                    </td>
                </tr>
                <tr>
                    <td>01.01.2022 10:02</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>
                        <span class="tag b4e">b4e</span>

                        <span class="tag mb">mb</span>
                    </td>
                </tr>
                <tr>
                    <td>01.01.2022 10:02</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>
                        <span class="tag b4e">b4e</span>

                        <span class="tag mb">mb</span>
                    </td>
                </tr>
                <tr>
                    <td>01.01.2022 10:02</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>

                        <span class="tag m20">20m</span>

                    </td>
                </tr>
                <tr>
                    <td>01.01.2022 10:02</td>
                    <td>Content 1</td>
                    <td>Content 1</td>
                    <td>
                        <span class="tag b4e">b4e</span>
                        <span class="tag b4s">b4s</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>